* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Outer {
    height: 500px;
    width: 500px;
    background-color: hsla(0, 0%, 14%, 1);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    justify-content: space-around;
}

.upper {
    height: 20%;
    background-color: brown;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    font-size:1.5rem;
    gap: 5px;
}

.middle {
    height: 10%;
}

.lower {
    background-color: aliceblue;
    height: 60%;
    display: flex;
}

.nbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80px;
    border-radius: 35px;
    border: 2px solid #e06500;
    background-color: #000;
    color: white;
}

.numbers-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 5px;
    padding: 10px;
    width: 60%;
    background-color: #140900;
}

.symbols-container {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    width: 40%;
    height: 100%;
    padding: 10px;
    background-color: brown;
}

.symbol {
    height: 100%;
    width: 100%px;
    border-radius: 5px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    border: 2px solid black;
}

.equal {
    position: relative;
    top: 10%;
    left: 10%;
    grid-column: span 3;
    width: 80%;
    height: 80%;
}

.middle {
    display: flex;
    gap:2px;
}

.clear {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 1.5rem;
    height: 100%;
    background-color: hsla(42, 77%, 53%, 1);
    border: 2px solid black;
    border-radius: 5px;
}

.delete {
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: hsla(42, 77%, 53%, 1);
    border: 2px solid black;
    border-radius: 5px;
}

.warning{
    color:white;
    font-size: 0.8rem;
}

.number0{
    grid-column: 2;
    width: auto;
}