* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Outer{
    height: 60%;
    width: 500px;
    background-color: hsla(0, 0%, 14%, 1);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    justify-content: space-around;
}

.upper{
    height: 20%;
    background-color: brown;
} 

.middle{
    height: 10%;
}

.lower{
    background-color: aliceblue;
    height: 60%;
}