* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #2e0000;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Outer {
    height: 500px;
    width: 500px;
    background-color: hsla(0, 0%, 10%, 1);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    justify-content: space-around;
}

.upper {
    height: 20%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    font-size: 1.5rem;
    gap: 5px;
    border: 2px solid darkred; 
    color: white;
    font-size: 1rem;
}

.middle {
    height: 10%;
}

.lower {
    background-color: aliceblue;
    height: 60%;
    display: flex;
}

.nbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80px;
    border-radius: 35px;
    border: 2px solid darkred;
    background-color: #000;
    color: white;
    font-size: 1.3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.numbers-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 5px;
    padding: 10px;
    width: 60%;
    background-color: hsla(0, 0%, 10%, 1);
}

.symbols-container {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    width: 40%;
    height: 100%;
    padding: 10px;
    background-color: hsla(0, 0%, 10%, 1);
}

.symbol {
    height: 100%;
    width: 100%px;
    border-radius: 5px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border: 3px solid black;
    cursor: pointer;
    color:white;
}

.equal {
    position: relative;
    top: 10%;
    left: 10%;
    grid-column: span 3;
    width: 80%;
    height: 80%;
}

.middle {
    display: flex;
    gap: 2px;
}

.clear {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 1.5rem;
    height: 100%;
    background-color: darkred;
    border: 2px solid black;
    border-radius: 5px;
}

.delete {
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: darkred;
    border: 2px solid black;
    border-radius: 5px;
}

.clear:hover{
    cursor: pointer;
    background-color: red;
}

.delete:hover{
    cursor: pointer;
    background-color: red;
}

.warning {
    color: white;
    font-size: 0.8rem;
}

.number0 {
    grid-column: 2;
    width: auto;
}

.numbers-container *:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.middle *:hover {
    cursor: pointer;
}

.symbols-container *:hover {
    cursor: pointer;
}

.equal{
    border-color: green;
}